<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="lib" />
      <dependentAssembly>		
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="MachineTranslationCache" value="Caches\MachineTranslationCache.txt" />
    <add key="OfficialTranslationCache" value="Caches\OfficialTranslationCache.txt" />
	<add key="OfficialSubtitlesCache" value="Caches\OfficialSubtitleCache.txt" />
    <add key="ManualTranslationCache" value="Caches\ManualTranslationCache.txt" />
    <add key="TranslationErrors" value="Errors.txt" />
    <add key="JapaneseScriptPath" value="Scripts\Japanese" />
	<add key="EnglishScriptPath" value="Scripts\English" />
    <add key="i18nExScriptPath" value="Scripts\i18nEx\English\Script" />    
	<add key="LLM Adress" value="http://127.0.0.1:1234/v1/chat/completions" />
	<add key="LLM API Key" value="api_key" />
	<add key="LLM Model Name" value="sugoi14b" />
	<add key="LLM Max Token" value="-1" />
	<add key="LLM Temperature" value="0.5" />
	<add key="LLM Repetition Penalty" value="1.1" />
	<add key="LLM Top P" value="0.9" />
	<add key="Enable overwrites" value="true" />
  </appSettings>
</configuration>
